.todo-container{
    background: black;
    width: 50vw;
    margin: 5em auto;
    border-radius: 10px;
    padding: 15px;
    color: white;
}
.header{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
.input-container{
    background: black;
    padding: .5em;
    border-radius: 1em;
    border: 2px solid purple;
}
.input{
    /* width: 50vw; */
    border-radius: 1em;
    margin: 1em;
    padding: .5em;
    width: 80%;
    border: 1px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}
.add-btn{
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: rgb(159, 179, 179);
}
.list-tasks{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
    background-color: black;
    border: 1px solid plum;
    border-radius: 5px;
    padding: .5em;
    margin: .5em;

}
.delete-btn{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: black;
    float: right;
    background-color: rgb(159, 179, 179);
}
.edit-btn{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: rgb(15, 15, 15);
    float: right;
    background-color: rgb(159, 179, 179);
}
.done-btn{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: rgb(10, 10, 10);
    float: right;
    background-color: rgb(159, 179, 179);
}
.list-tasks {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .task-title {
    flex-grow: 1;
  }
  
  .done {
    text-decoration: line-through;
  }
